body {
  background-image: url("../Images/grass-background-v2.jpeg");
}

.container {
  display: block;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.699);
}

p {
  font-weight: bold;
}

.logInForm {
  max-width: 400px;
}

.compraBetsLogo {
  display: block;
  max-width: 500px;
}

.errmsg {
  font-weight: bold;
}

#logInButton {
  display: block;
  padding: 10px 50px;
}

/*Mobile*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
      display: block;
      max-width: 360px;
      margin-top: 50px !important;
      padding: 40px 16px 60px 16px !important;
  }

  .logInForm {
      max-width: 300px;
  }

  .compraBetsLogo {
      max-width: 325px;
      margin-bottom: 50px !important;
  }

  #logInButton {
      margin-top: 38px !important;
      padding: 10px 80px !important;
  }
}